<div class="container appointmentListTable page-container">
  <div class="row mainBody p-5">
    <h2 class="text-white text-center">Appointment List</h2>
    <div class="dataTable">
      <table class="table">
        <thead>
          <tr>
            <th class="text-center">Profile</th>
            <th>Username</th>
            <th>Phone no</th>
            <th>Lawyer Category</th>
            <th class="text-center">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img class="userAvatar" src="assets/avatar.png" alt=""></td>
            <td class="dataItem">Michael Demo</td>
            <td class="dataItem">+98124568</td>
            <td class="dataItem">Family Lawyer</td>
            <td class="dataItem"><button class="bg-white">View Details</button></td>
          </tr>
          <tr>
            <td><img class="userAvatar" src="assets/avatar.png" alt=""></td>
            <td class="dataItem">Michael Demo</td>
            <td class="dataItem">+98124568</td>
            <td class="dataItem">Family Lawyer</td>
            <td class="dataItem"><button class="bg-white">View Details</button></td>
          </tr>
          <tr>
            <td><img class="userAvatar" src="assets/avatar.png" alt=""></td>
            <td class="dataItem">Michael Demo</td>
            <td class="dataItem">+98124568</td>
            <td class="dataItem">Family Lawyer</td>
            <td class="dataItem"><button class="bg-white">View Details</button></td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>
