<div class="reg-section">
  <div class="reg-form col-12 col-xl-6">
    <form action="/examples/actions/confirmation.php" method="post">
      <div class="avatar"><i class="material-icons">&#xE7FF;</i></div>
      <h4 class="modal-title">Create Your Account</h4>
      <div class="form-group row">
        <div class="col-12 col-md-6">
          <label for="name" class="fw-bold">Name</label>
          <input id="name" type="text" class="form-control" placeholder="Your name" required="required" />
        </div>
        <div class="col-12 col-md-6">
          <label for="email" class="fw-bold">Email</label>
          <input id="email" type="email" class="form-control" placeholder="Email address" required="required" />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12 col-md-6">
          <label for="mobile" class="fw-bold">Mobile</label>
          <input id="mobile" type="text" class="form-control" placeholder="Phone number" required="required" />
        </div>
        <div class="col-12 col-md-6">
          <label for="pass" class="fw-bold">Password</label>
          <input id="pass" type="password" class="form-control" placeholder="Type password" required="required" />
        </div>
      </div>
      <div class="form-group row">
        <label for="gender" class="fw-bold">Gender</label>
        <div class="d-flex gap-2">
          <div>
            <input id="male" name="gender" type="radio">
            <label for="male" class="ms-2">Male</label>
          </div>
          <div>
            <input id="female" name="gender" type="radio">
            <label for="female" class="ms-2">Female</label>
          </div>
        </div>
      </div>
      <input type="submit" class="btn btn-primary btn-block btn-lg" value="Register Now" routerLink="/home" />
    </form>
  </div>
</div>
