<div class="container-fluid">
  <div class="d-flex flex-column justify-content-center gap-3" style="min-height: 100vh">
    <div class="d-flex justify-content-center align-items-center">
      <div class="card" style="min-width: 200px" (click)="type = 'user'">
        <img src="assets/img/user.png" class="card-img-top w-50 d-block mx-auto" alt="user">
        <div class="card-footer">
          <app-user [open]="type === 'user'"></app-user>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <div class="card" style="min-width: 200px" (click)="type = 'lawyer'">
        <img src="assets/img/lawyer.png" class="card-img-top w-50 d-block mx-auto" alt="lawyer">
        <div class="card-footer">
          <app-lawyer [open]="type === 'lawyer'"></app-lawyer>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <div class="card" style="min-width: 200px" (click)="type = 'lawfirm'">
        <img src="assets/img/law-firm.png" class="card-img-top w-50 d-block mx-auto" alt="law-firm">
        <div class="card-footer">
          <app-lawfirm [open]="type === 'lawfirm'"></app-lawfirm>
        </div>
      </div>
    </div>
  </div>
</div>
