.footer-bottom {
    background-color: #fff;
    text-align: center;
    padding: 23px 63px;
}

@media screen and (max-width: 767px) {
    .footer-bottom {
        display: block;
        text-align: center;
    }
}