.search-box {
  .input-group {
    overflow: hidden;
    border-radius: 23px;
    border: 1px solid #4D2772;

    @media only screen and (max-width:450px){
      width: 85%;
    }
    .form-control {
      border: none;

      &:focus {
        box-shadow: none;
      }
    }

    .input-group-append {
      &.btn {
        box-shadow: none;
        margin: 0px;
        border: none;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
      }
    }
  }
}
