.form-group {
  padding: 0 0 12px 0;

  .select-label {
    font-weight: bold;
    font-weight: 600;
    font-size: 26px;
    margin: 0 0 4px 0;
  }

  .select-field {
    border: 2px solid #858585;
    border-radius: 5px;
    padding: 20px;

    &:focus {
      box-shadow: none;
      border: 1px solid #A184D5;

      .select-label {
        color: #A184D5;
      }
    }

    &:focus-visible {
      box-shadow: none;
      border: 1px solid #A184D5;

      .select-label {
        color: #A184D5;
      }
    }
  }
}
