.form-group {
  padding: 0 0 12px 0;

  .input-label {
    font-weight: bold;
    color: gray;
    margin: 0 0 4px 0;
  }

  .input-field {
    border: 1px solid #000000;

    &:focus {
      box-shadow: none;
      border: 1px solid #A184D5;

      .input-label {
        color: #6F2FA1;
      }
    }

    &:focus-visible {
      box-shadow: none;
      border: 1px solid #A184D5;

      .input-label {
        color: #6F2FA1;
      }
    }
  }
}
