.footer-top {
    background-color: #6F2FA1;
    padding: 37px 136px 32px 58px;
    display: flex;
}

.footer-logo {
    width: 324px;
    height: 100px;
    border-radius: 10px;
}

.footer-title {
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

.links-content {
    list-style: none;
    padding-left: 0rem;
}

.links-content li {
    margin-bottom: 16px;
}

.links-content li a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.social-icon {
    background-color: #fff;
    height: 24px;
    width: 24px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-bottom {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 23px 63px;
}

.footer-bottom a {
    padding-right: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    text-decoration: none;
}