<div class="container page-container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <div class="call-text">
        <div class="title">
          Welcome to Go Probono
        </div>
        <div class="title">
          {{help_center_data?.image_text}}
        </div>
        <div class="subtitle" [innerHTML]="help_center_data?.rules">

        </div>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-center p-3">
      <div class="call-card p-2">
        <img class="call-image" [src]="api.imagePath(help_center_data?.thumbnail)" alt="">
        <button class="btn call-btn m-0" (click)="call()">
          <img class="call-btn-image" src="assets/icon/telephone-call.svg" alt="">
          Call Now
        </button>
      </div>
    </div>
  </div>
</div>
