.profile-edit {
  .header {
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid #6F2FA1;
  }

  .profile-pic {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #bdbdbdff;
  }

  .save {
    background-color: #6F2FA1;
    color: #ffffffff;
  }

  .cancel {
    border: 1px solid #6F2FA1;
    color: #6F2FA1;
  }
}
