.navbar {
  border-bottom: 1px solid #000000;
}
.navbar .navbar-brand img {
  width: 230px;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.navbar-right input:focus {
  outline: none;
}

.navbar-search {
  border: 2px solid #A184D5;
  border-radius: 24px;
  overflow: hidden;
  width: 294px;
  height: 38px;
  display: flex;
  justify-content: space-between;
  padding: 9px;
}

.appointment-btn {
  background: #A184D5;
  border-radius: 6px;
  font-size: 16px;
  color: #fff;
}

.navbar-avatar {
  border-radius: 100px;
  // border: 2px solid #A184D5;
  padding: 5px;
  width: 65px;
}

.navbar-right .navbar-toggler-icon {
  background-image: url('../../../assets/humburger.svg') !important;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.notification {
  color: #A184D5ff;
}

.bioscope {
  position: fixed;
  width: 100%;
  height: 100vh;
  float: left;
  background-color: rgba(0, 0, 0, 0.6666666667);
  z-index: 3;
  top: 0px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-end;

  .toggler {
    margin-bottom: -30px;
    z-index: 4;
  }

  .list-holder {
    width: 400px;
    float: right;
    height: 100vh;
    background-color: #000000ff;
    padding: 70px 0 0 40px;

    table {
      width: 100%;

      td {
        border-bottom: 1px solid white;
        color: white;
        font-size: 28px;
        cursor: pointer;
      }
    }
  }
}
