<div class="header-top-container">
    <div class="row px-5">
        <div class="col-12 col-md-4"></div>
        <div class="col-12 col-md-4"></div>
        <div class="col-12 col-md-4 d-flex justify-content-end">
            <div class="header-content">
                <a href="#">
                    <img src="assets/icon/contact-us.svg" alt="">
                    Contact Us
                </a>
                <a href="#">
                    <img src="assets/icon/worldwide.svg" alt="">
                    Worldwide
                </a>
            </div>
        </div>
    </div>
</div>