<div class="appointmentsSummary">
  <!-- <img src="assets/img/appoinment-summary-banner.png" class="w-100 d-block" alt=""> -->
  <div class="bannerBorder"></div>
  <!-- Appointment Summary -->
  <div class="summaryHeading">
    <h2 class="heading">Appointments Summary</h2>
  </div>

  <div class="container">
    <div class="row w-100">
      <div class="col-12 col-md-6">
        <div class="appointmentCard">
          <h2 class="text-white text-center">Pending Appointment</h2>
          <div class="appointmentList">
            <ng-container *ngFor="let pend of pendingAppointments">
              <div class="singleAppointment d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-start align-items-center gap-4">
                  <img class="userAvatar" [src]="api.imagePath(pend?.customer_pic)">
                  <h5 class="text-white">{{pend?.customer?.name}}</h5>
                </div>
                <button class="px-4 py-2 bg-white" [routerLink]="['/lawyer/appointments/'+pend?.id]">
                  View Details
                </button>
              </div>
            </ng-container>
          </div>
        </div>
        <button class="text-white" *ngIf="pendingAppointments?.length" [routerLink]="['/lawyer/appointments']"
          [queryParams]="{status: 'pending'}">
          View All
        </button>
      </div>
      <div class="col-12 col-md-6">
        <div class="appointmentCard">
          <h2 class="text-white text-center">Approved Appointment</h2>
          <div class="appointmentList">
            <ng-container *ngFor="let appr of approvedAppointments">
              <div class="singleAppointment d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-start align-items-center gap-4">
                  <img class="userAvatar" [src]="api.imagePath(appr?.customer_pic)">
                  <h5 class="text-white">{{appr?.customer?.name}}</h5>
                </div>
                <button class="px-4 py-2 bg-white" [routerLink]="['/lawyer/appointments/'+appr?.id]">
                  View Details
                </button>
              </div>
            </ng-container>
          </div>
        </div>
        <button class="text-white" *ngIf="approvedAppointments?.length" [routerLink]="['/lawyer/appointments']"
          [queryParams]="{status: 'approved'}">
          View All
        </button>
      </div>
    </div>
  </div>
</div>
