<div class="appointmentsSummary">
    <img src="assets/img/appoinment-summary-banner.png" class="w-100 d-block" alt="">
    <div class="bannerBorder"></div>
    <!-- Appointment Summary -->
    <div class="summaryHeading">
        <h2 class="heading">Appointments Summary</h2>
        <h5 class="summary">Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet. consectetur adipisicing elit. Nam rem, porro omnis a delectus sed explicabo quae saepe ea ex.</h5>
    </div>

    <div class="container">
        <div class="row w-100">
            <div class="col-12 col-md-6">
               <div class="appointmentCard">
                    <h2 class="text-white text-center">Pending Appointment</h2>
                    <div class="appointmentList">
                        <div class="singleAppointment d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-start align-items-center gap-4">
                                <img class="userAvatar" src="assets/avatar.png" alt="">
                                <h5 class="text-white">Michel Demo</h5>
                            </div>
                            <button class="px-4 py-2 bg-white">
                                View Details
                            </button>
                        </div>
                        <div class="singleAppointment d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-start align-items-center gap-4">
                                <img class="userAvatar" src="assets/avatar.png" alt="">
                                <h5 class="text-white">Michel Demo</h5>
                            </div>
                            <button class="px-4 py-2 bg-white">
                                View Details
                            </button>
                        </div>
                        <div class="singleAppointment d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-start align-items-center gap-4">
                                <img class="userAvatar" src="assets/avatar.png" alt="">
                                <h5 class="text-white">Michel Demo</h5>
                            </div>
                            <button class="px-4 py-2 bg-white">
                                View Details
                            </button>
                        </div>
                        <div class="singleAppointment d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-start align-items-center gap-4">
                                <img class="userAvatar" src="assets/avatar.png" alt="">
                                <h5 class="text-white">Michel Demo</h5>
                            </div>
                            <button class="px-4 py-2 bg-white">
                                View Details
                            </button>
                        </div>
                    </div>
                </div> 
                <button class="text-white">
                    View All
                </button>
            </div>
            <div class="col-12 col-md-6">
                <div class="appointmentCard">
                    <h2 class="text-white text-center">Approved Appointment</h2>
                    <div class="appointmentList">
                        <div class="singleAppointment d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-start align-items-center gap-4">
                                <img class="userAvatar" src="assets/avatar.png" alt="">
                                <h5 class="text-white">Michel Demo</h5>
                            </div>
                            <button class="px-4 py-2 bg-white">
                                View Details
                            </button>
                        </div>
                        <div class="singleAppointment d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-start align-items-center gap-4">
                                <img class="userAvatar" src="assets/avatar.png" alt="">
                                <h5 class="text-white">Michel Demo</h5>
                            </div>
                            <button class="px-4 py-2 bg-white">
                                View Details
                            </button>
                        </div>
                        <div class="singleAppointment d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-start align-items-center gap-4">
                                <img class="userAvatar" src="assets/avatar.png" alt="">
                                <h5 class="text-white">Michel Demo</h5>
                            </div>
                            <button class="px-4 py-2 bg-white">
                                View Details
                            </button>
                        </div>
                        <div class="singleAppointment d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-start align-items-center gap-4">
                                <img class="userAvatar" src="assets/avatar.png" alt="">
                                <h5 class="text-white">Michel Demo</h5>
                            </div>
                            <button class="px-4 py-2 bg-white">
                                View Details
                            </button>
                        </div>
                    </div>
                </div> 
                <button class="text-white">
                    View All
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="packageCard">
                    <h2 class="text-center">Your subscription Package details</h2>
                    <div class="packageDetails">
                        <p><strong>Current Plan : </strong> 1 Month Subscription</p>
                        <p><strong>Date of Payment : </strong> 1 May 2023</p>
                        <p><strong>Package Parchase Date : </strong> 1 May 2023</p>
                        <p><strong>Package Expire Date : </strong> 1 May 2023</p>
                        <p><strong>Your Balance : </strong> 10,000 BDT</p>
                    </div>
                </div>
                <div class="d-flex justify-content-center gap-5">
                    <button class="text-white">
                        Change Current Plan
                    </button>
                    <button class="text-white">
                        Payment History
                    </button>
                    <button class="text-white">
                        Make Payment
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Appoinment List Details -->
<div class="container mt-5 profile-view text-white">
    <div class="row w-100 pt-3 pb-5">
      <div class="col-md-3 col-sm-12 mt-5 img-section">
        <img src="assets/avatar.png" class="profile-pic">
        <h2 class="text-white"> Michael Demo</h2>
      </div>
      <div class="col-md-9 col-sm-12 data-section">
        <div class="row">
          <table class="text-white">
            <tr>
              <th>Full Name:</th>
              <td>Afnaul Hsan</td>
            </tr>
            <tr>
              <th>Email:</th>
              <td>mehrab@gmail.com</td>
            </tr>
            <tr>
              <th>Address:</th>
              <td>Mirpur 10</td>
            </tr>
            <tr>
              <th>Contact Number:</th>
              <td>0171000000</td>
            </tr>
            <tr>
              <th>District:</th>
              <td>Dhaka</td>
            </tr>
            <tr>
              <th>Type of Law :</th>
              <td>Company Law</td>
            </tr>
            <tr>
              <th>Date Range :  :</th>
              <td>10-52023 to 15-102021</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="row appointmentMessage">
        <p class="ps-0 text-white">Michel Demo Massege:</p>
        <div class="msgCard bg-white">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic, architecto molestias facere deserunt incidunt aliquam. Omnis quas culpa quia dignissimos? Molestiae dolorem fugiat minima delectus velit quod labore, iure voluptate natus ullam ducimus illo dolores saepe? Consequatur ipsum modi laboriosam dolorem, magnam facilis voluptas vel. Eum quia perferendis eos nesciunt?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic, architecto molestias facere deserunt incidunt aliquam. Omnis quas culpa quia dignissimos? Molestiae dolorem fugiat minima delectus velit quod labore, iure voluptate natus ullam ducimus illo dolores saepe? Consequatur ipsum modi laboriosam dolorem, magnam facilis voluptas vel. Eum quia perferendis eos nesciunt?</p>
        </div>

        <div class="p-0 appointmentBootom d-flex justify-content-start gap-4 align-items-center mt-5">
            <input class="form-control input-field" type="date" name="" id="">
            <button class="bg-success">Approve</button>
            <button class="bg-danger">Reject</button>
        </div>
    </div>
</div>
  