.container {
    .header {
        font-weight: 700;
        font-size: 48px;
        color: #702FA0;
        text-align: center;
        margin-bottom: 3rem;
    }
    .input-field {
        border: 2px solid #858585;
        border-radius: 5px;
        padding: 20px;
    
        &:focus {
          box-shadow: none;
          border: 1px solid #A184D5;
    
          .input-label {
            color: #A184D5;
          }
        }
    
        &:focus-visible {
          box-shadow: none;
          border: 1px solid #A184D5;
    
          .input-label {
            color: #A184D5;
          }
        }
    }

    .get-appoinment-btn {
        background: #6F2FA1;
        border-radius: 15px;
        font-weight: 400;
        font-size: 25px;
        color: #fff;
        padding: 0.5rem 4rem;
        border: none;
        width: 100%;
    }
}