<div class="container page-container my-appointment">
  <div class="row">
    <h2 class="text-white text-center">Appointment List</h2>
    <div class="dataTable table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Sl</th>
            <th class="text-center">Profile</th>
            <th>Lawyer</th>
            <th>Phone no</th>
            <th>Chosen Date</th>
            <th>Status</th>
            <!-- <th class="text-center">Actions</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let appoint of appointmentList; let i=index;">
            <td>{{i+1}}</td>
            <td><img class="userAvatar" [src]="api.imagePath(appoint?.lawyer?.image)" alt=""></td>
            <td class="dataItem">{{appoint?.lawyer?.name}}</td>
            <td class="dataItem">{{appoint?.lawyer?.mobile}}</td>
            <td class="dataItem">{{appoint?.chosen_date}}</td>
            <td class="dataItem">{{appoint?.status}}</td>
            <!-- <td class="dataItem">{{header?.}}</td> -->
            <!-- <td class="dataItem"><button class="bg-white" (click)="details(appoint)">View Details</button>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
