<div class="container page-container pt-3">
  <div class="row">
    <h1 class="col-12 text-center">
      Make an Appointment
    </h1>
  </div>
  <form class="row" [formGroup]="searchForm">
    <div class="col-md-6 col-sm-12">
      <div class="form-group">
        <label for="division">Division</label>
        <select id="division" class="form-select" formControlName="division">
          <option value="">Select Division</option>
          <option *ngFor="let data of divisionList;" [value]="data?.slug">{{data?.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="form-group">
        <label for="district">District</label>
        <select id="district" class="form-select" formControlName="district">
          <option value="">Select District</option>
          <option *ngFor="let data of districtList;" [value]="data?.slug">{{data?.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="form-group">
        <label for="thana">Thana</label>
        <select id="thana" class="form-select" formControlName="thana">
          <option value="">Select Thana</option>
          <option *ngFor="let data of thanaList;" [value]="data?.slug">{{data?.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="form-group">
        <label for="lawyer_type">Lawyer Type</label>
        <select id="lawyer_type" class="form-select" formControlName="lawyer_type" multiple>
          <option value="">Select Lawyer Type</option>
          <option *ngFor="let data of lawyerTypeList;" [value]="data?.id">{{data?.name}}</option>
        </select>
      </div>
    </div>
  </form>
  <form class="row" (submit)="makeAppointment()" [formGroup]="dataForm">
    <div class="col-md-6 col-12 pb-2">
      <div class="form-group">
        <label for="lawyer">Lawyer</label>
        <select id="lawyer" class="form-select" formControlName="lawyer">
          <option value="">Select Lawyer</option>
          <option *ngFor="let lawyer of lawyerList" [value]="lawyer?.id">
            {{lawyer?.name}}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-12 col-12 pb-2">
      <div class="form-group">
        <label for="message">Message</label>
        <textarea id="message" formControlName="message" class="form-control"></textarea>
      </div>
    </div>
    <div class="col-12 col-md-6 pb-2">
      <div class="form-group">
        <label for="start_date">Start Date</label>
        <input id="start_date" type="date" class="form-control" formControlName="start_date">
      </div>
    </div>
    <div class="col-12 col-md-6 pb-2">
      <div class="form-group">
        <label for="end_date">End Date</label>
        <input id="end_date" type="date" class="form-control" formControlName="end_date">
      </div>
    </div>
    <div class="col-12">
      <span [ngStyle]="{color: msg?.success ? 'green': 'red'}">{{msg?.message}}</span>
    </div>
    <div class="col-12 pb-2">
      <button class="btn btn-primary" type="submit">
        Confirm
      </button>
    </div>
  </form>
</div>
