.item-container {
  background-color: #fff;

  .item {
    width: 100%;
    margin: .5rem 0 .5rem 0;
    // padding-left: 78px;
    // font-size: 28px;
    // font-weight: 700;
  }

  .selected {
    background-color: #4D2772;
    color: white;
    border-radius: 0;
  }
}
