.item-container {
  background-color: #fff;

  .item {
    width: 100%;
    color: #3a0464;
    margin: .5rem 0 .5rem 0;
    // padding-left: 78px;
    // font-size: 28px;
    // font-weight: 700;

    &:hover {
      background-color: #a991bb;
    }
  }

  .selected {
    background-color: #3a0464;
    color: white;
    border-radius: 0;
  }
}
