<!-- Payment History -->
<div class="container paymentHistoryTable page-container">
  <div class="row mainBody p-5">
    <div class="heading">
      <h2 class="text-white text-center">Payment History</h2>
      <p class="summary text-white text-center">For a recurring payment, the final payment amount will be the ballance
        due at the
        time the payment is processed </p>
    </div>
    <div class="dataTable">
      <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th>Confirmation Number</th>
            <th>Payment Amount</th>
            <th>Payment Method</th>
            <th>Payment Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let history of paymentHistory;">
            <td>{{history?.transaction_number}}</td>
            <!-- <td>{{history?.transaction_date}}</td> -->
            <td>{{history?.amount}} BDT</td>
            <td>{{history?.payment_method}} </td>
            <td><span class="badge rounded-pill" [ngClass]="{'text-bg-warning': history?.status == 'pending', 'text-bg-success': history?.status ==
                'success',
                'text-bg-danger': history?.status == 'failed'}">{{history?.status}}</span></td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>
