<!-- Payment History -->
<div class="container paymentHistoryTable page-container">
  <div class="row mainBody p-5">
    <div class="heading">
      <h2 class="text-white text-center">Payment History</h2>
      <p class="summary text-white text-center">For a recurring payment, the final payment amount will be the ballance
        due at the
        time the payment is processed </p>
    </div>
    <div class="dataTable">
      <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th>Confirmation Number</th>
            <th>Created On</th>
            <th>Payment Amount</th>
            <th>Payment Account</th>
            <th>Payment Status</th>
            <th>Status Date</th>
            <th>Recurring Payment</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>HDDJKSKDNSDKJS</td>
            <td>03/05/2023</td>
            <td>5000 BDT</td>
            <td>*****09345</td>
            <td><span class="badge rounded-pill text-bg-warning">Pending</span></td>
            <td>03/05/2023</td>
            <td><span class="badge rounded-pill text-bg-success">Yes</span></td>
            <td>Processing</td>
          </tr>
          <tr>
            <td>HDDJKSKDNSDKJS</td>
            <td>03/05/2023</td>
            <td>5000 BDT</td>
            <td>*****09345</td>
            <td><span class="badge rounded-pill text-bg-success">Paid</span></td>
            <td>03/05/2023</td>
            <td><span class="badge rounded-pill text-bg-dark">No</span></td>
            <td>Processing</td>
          </tr>
          <tr>
            <td>HDDJKSKDNSDKJS</td>
            <td>03/05/2023</td>
            <td>5000 BDT</td>
            <td>*****09345</td>
            <td><span class="badge rounded-pill text-bg-danger">Failed</span></td>
            <td>03/05/2023</td>
            <td><span class="badge rounded-pill text-bg-success">Yes</span></td>
            <td>Processing</td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>
