.navbar .navbar-brand img {
    width: 447px;
}

.navbar-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.navbar-right input:focus {
    outline: none;
}

.navbar-search {
    border: 2px solid #A184D5;
    border-radius: 24px;
    overflow: hidden;
    width: 294px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    padding: 9px;
}

.appointment-btn {
    background: #6F2FA1;
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-avatar {
    border-radius: 100px;
    border: 2px solid #A184D5;
    padding: 5px;
    width: 65px;
}

.navbar-right .navbar-toggler-icon {
    background-image: url('../../../assets/humburger.svg') !important;
}