<div [id]="c_id" class="container" (mouseenter)="consoler('enter')" (mouseleave)="consoler('out')">
  <div class="slide-container">
    <ng-container *ngFor="let slide of slideList; let s_i=index;">
      <div class="custom-slide" [ngClass]="c_id" [ngStyle]="{'width': (100/options?.show_count)+'%'}"
        (click)="slide_clicked.next(slide)">
        <app-custom-card [item]="slide" [text_position]="slide?.text_position ?? 'inside'" [c_class]="'slide-card'">
        </app-custom-card>
      </div>
    </ng-container>
  </div>
</div>
