<div class="top-help-section"></div>
<div class="help-section-container text-center">
  <h1>How Can we help You ?</h1>
  <div class="help-content">
  </div>
  <div class="help-section-card">
    <div class="row mx-0" style="padding: 0 7%;">
      <div class="card border-0 col-6 col-md-3">
        <div class="details-module card-body" routerLink="./user/make-appointment">
          <div class="details-module-img">
            <img src="assets/icon/calendar.svg" alt="">
          </div>
          <h5>Make An Appointment </h5>
        </div>
      </div>
      <div class="card border-0 col-6 col-md-3">
        <div class="details-module card-body" routerLink="./lady-justice/laws">
          <div class="details-module-img">
            <img src="assets/icon/chat.svg" alt="">
          </div>
          <h5>Know your law with lady justice </h5>
        </div>
      </div>
      <div class="card border-0 col-6 col-md-3 mt-3 mt-md-0">
        <div class="details-module card-body" routerLink="./contact-us">
          <div class="details-module-img">
            <img src="assets/icon/telephone-call.svg" alt="">
          </div>
          <h5>Help line </h5>
        </div>
      </div>
      <div class="card border-0 col-6 col-md-3 mt-3 mt-md-0">
        <div class="details-module card-body" routerLink="./events">
          <div class="details-module-img">
            <img src="assets/icon/booking.svg" alt="">
          </div>
          <h5>Learn About our Events </h5>
        </div>
      </div>
    </div>
  </div>
</div>
