.top-help-section {
    background: #6F2FA1;
    height: 72px;
}

.help-section-container h1 {
    text-align: center;
    font-weight: 500;
    font-size: 60px;
    line-height: 70px;
    color: #6F2FA1;
    margin-top: 19px;
}

.help-content {
    width: 1076px;
    margin: 16px auto 0;
    display: flex;
}

.help-content p {
    font-size: 22px;
}

.details-module {
    background: #6F2FA1;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 25%);
    border-radius: 10px;
    padding: 84px 0;
}

.details-module-img {
    border: 2px solid #578032;
    background: #fff;
    border-radius: 50%;
    padding: 36px;
    width: 134px;
    height: 134px;
    margin: 0 auto;
    margin-bottom: 53px;
}

.details-module-img img {
    width: 63px;
}

.details-module h5 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
}