.details-page {
  .details-img {
    width: 100%;
    height: auto;
  }

  .details-content {
    .title {
      font-size: 24px;
      font-weight: bold;
      color: #6F2FA1;
    }

    .details-btn {
      background-color: #686195;
      color: #ffffff;
      padding: 12px 24px;
    }
  }
}
