<div class="container-fluid help-appointment-container">
  <div class="help-appointment-content">
    <h3>Believing in the power of law to make people’s lives better</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
      ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
    </p>
    <button class="btn appointment-btn-2">
      <span>Make Appointment</span>
      <img src="assets/icon/right-arrow.svg" alt="">
    </button>
  </div>
</div>
