.help-appointment-container {
    background: url('../../../../assets/img/banner-5.png') rgba(111, 47, 161, 0.6);
    background-size: cover;
    background-blend-mode: multiply;
    height: 550px;
    position: relative;
}

.help-appointment-content {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    color: #fff;
    position: absolute;
    inset: 0;
    top: 142px;
}

.help-appointment-content h3 {
    font-size: 48px;
    color: #fff;
    line-height: 56.25px;
    font-weight: 500;
}

.help-appointment-content p {
    font-size: 20px;
    line-height: 30px;
}

.appointment-btn-2 {
    background: #fff;
    color: #6F2FA1;
    border-radius: 13px;
    padding: 16px;
    margin-top: 45px;
}

.appointment-btn-2 span {
    font-size: 20px;
    margin-right: 10px;
}