<div class="page-container">
  <div class="mt-5 profile-view text-white mb-4">
    <div class="row w-100 pt-3 pb-5">
      <div class="col-md-3 col-sm-12 mt-5 img-section">
        <img [src]="api.imagePath(appointment?.customer?.customer_pic)" class="profile-pic">
        <h2 class="text-white">{{appointment?.customer?.name}}</h2>
      </div>
      <div class="col-md-9 col-sm-12 data-section">
        <div class="row">
          <table class="text-white">
            <tr>
              <th>Full Name:</th>
              <td>{{appointment?.customer?.name}}</td>
            </tr>
            <tr>
              <th>Email:</th>
              <td>{{appointment?.customer?.email}}</td>
            </tr>
            <!-- <tr>
              <th>Address:</th>
              <td>Mirpur 10</td>
            </tr> -->
            <tr>
              <th>Contact Number:</th>
              <td>{{appointment?.customer?.mobile}}</td>
            </tr>
            <!-- <tr>
              <th>District:</th>
              <td>Dhaka</td>
            </tr> -->
            <!-- <tr>
              <th>Type of Law :</th>
              <td>Company Law</td>
            </tr> -->
            <tr>
              <th>Date Range :</th>
              <td>{{appointment?.start_date | date: 'd MMMM y'}} to {{appointment?.end_date | date: 'd MMMM y'}}</td>
            </tr>
            <tr *ngIf="appointment?.status !== 'approved' || appointment?.status !== 'due'">
              <th>Chosen Date:</th>
              <td>{{appointment?.chosen_date | date: 'd MMMM y'}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="row appointmentMessage">
      <p class="ps-0 text-white">Messsge:</p>
      <div class="msgCard bg-white" [innerHTML]="appointment?.message">
  
      </div>
      <div class="col-12">
        <span [ngStyle]="{color: msg?.success ? 'green': 'red'}">{{msg?.message}}</span>
      </div>
      <div class="p-0 appointmentBootom d-block d-sm-flex justify-content-start gap-2 gap-sm-4 align-items-center mt-5">
        <input [disabled]="appointment?.status !== 'pending'" class="form-control input-field" type="date" id="chosenDate"
          [(ngModel)]="chosenDate">
        <button [disabled]="appointment?.status !== 'pending'" class="btn bg-success me-3 me-sm-0 mt-3 mt-sm-0"
          (click)="changeStatus('approved')">Approve</button>
        <button [disabled]="appointment?.status !== 'pending'" class="btn bg-danger mt-3 mt-sm-0"
          (click)="changeStatus('rejected')">Reject</button>
      </div>
    </div>
  </div>
</div>
