.carousel-slider {
  .picsum-img-wrapper {
    height: 550px;

    img {
      min-width: 100%;
      min-height: 100%;
    }
  }

  .carousel-caption {
    bottom: 13.25rem;
    left: 12%;
    width: 40%;
    text-align: start;
    @media screen and (max-width: 767px) {
      width: 80%;
    }

    h3 {
      color: white;
    }

    .btn {
      background: #fff;
      color: #6F2FA1;
      border-radius: 5px;
      padding: 16px;
      margin-top: 45px;
      font-weight: 600;
    }
  }
}
