<div class="container" style="overflow: hidden">
  <div class="row my-3">
    <div class="col-md-2" style="padding: 0">
      <div class="profile-container">
        <div class="profile-nav-items">
          <div>
            <a style="cursor: pointer; border-bottom: 1px solid #00bdf6" [routerLink]="['myprofile']">
              My Account</a>
            <a style="cursor: pointer; border-bottom: 1px solid #00bdf6">Booking</a>
            <a style="cursor: pointer" (click)="onLogout()">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <!-- <router-outlet (activate)="onActivate($event)"></router-outlet> -->
      <div class="my-profile-container">
        <div class="row">
          <div class="col-md-3">
            <div class="user-card-container">
              <div class="user-img-container">
                <div class="avatar"><i class="material-icons">&#xE7FF;</i></div>
              </div>
              <div class="user-card-data">
                <h2 class="user-name" style="color: #000254">
                  <b>John Doe</b>
                </h2>
                <h4 class="user-phone">
                  <b>xxxxxxxxxx</b>
                </h4>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="user-data-container">
              <div class="user-data-title">
                <h1 class="user-data" style="text-transform: uppercase; color: #000254">
                  Account Information
                </h1>
              </div>
              <div class="user-additional-data">
                <div class="user-ad-data-row">
                  <p class="ad-text-style" style="width: 40%">Name:</p>
                  <p style="
                      width: 60%;
                      --text-opacity: 1;
                      color: rgba(66, 66, 66, var(--text-opacity));
                    ">
                    John Doe
                  </p>
                </div>
                <div class="user-ad-data-row" style="overflow-wrap: break-word">
                  <p class="ad-text-style" style="width: 40%">Email:</p>
                  <p style="
                      width: 60%;
                      --text-opacity: 1;
                      color: rgba(66, 66, 66, var(--text-opacity));
                    ">
                    abc@domain.com
                  </p>
                </div>
                <div class="user-ad-data-row">
                  <p class="ad-text-style" style="width: 40%">City:</p>
                  <p style="
                      width: 60%;
                      --text-opacity: 1;
                      color: rgba(66, 66, 66, var(--text-opacity));
                    ">
                    Dhaka
                  </p>
                  <p style="
                      width: 60%;
                      --text-opacity: 1;
                      color: rgba(66, 66, 66, var(--text-opacity));
                    ">
                    N/A
                  </p>
                </div>
                <div class="user-ad-data-row">
                  <p class="ad-text-style" style="width: 40%">Address:</p>
                  <p style="
                      width: 60%;
                      --text-opacity: 1;
                      color: rgba(66, 66, 66, var(--text-opacity));
                    ">
                    Badda
                  </p>
                </div>
                <div class="user-ad-data-row">
                  <p class="ad-text-style" style="width: 40%">Postcode:</p>
                  <p style="
                      width: 60%;
                      --text-opacity: 1;
                      color: rgba(66, 66, 66, var(--text-opacity));
                    ">
                    1200
                  </p>
                </div>
              </div>
            </div>
            <div class="update-btn-container">
              <button class="update-btn" [routerLink]="['../update-profile']" mat-raised-button color="primary">
                Update profile
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
