.mat-focus-indicator.mat-icon-button.mat-warn {
    color: #fff !important;

}

.sliderImg {
    position: relative;
}

.sliderContent {
    position: absolute;
    top: 10%;
    left: 15%;
    height: 100%;
    width: 50%;
}

.sliderContent h1 {
    color: #FFFFFF;
    font-size: 64px;
    line-height: 75px;
}

.sliderContent p {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 30px;
    margin-top: 15px;
}

.sliderContent button {
    background: #FFFFFF;
    color: #A184D5;
    border-radius: 13px;
    margin-top: 55px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 18px;
}

.sliderContent button img {
    width: 32px;
}