<!-- Package documentation: https://www.npmjs.com/package/ngx-owl-carousel-o -->
<!-- Package demo: https://stackblitz.com/edit/ngx-owl-carousel-o?file=src%2Fapp%2Fapp.component.ts -->
<div class="row" style="margin-top: 1px">
    <!-- LARGE SCREEN -->
    <ng-container *ngIf="screenSize > 500">
        <div class="col-12">
            <!-- <owl-carousel-o [options]="customOptions">
                <ng-container>
                    <ng-template carouselSlide>
                        <img class="img-fluid sliderImg" src="assets/img/banner-1.png" alt="">
                        <div class="sliderContent">
                            <h1>We practice for the results and success you need</h1>
                            <p>Lorem ipsum dolor sit amet. Sed veniam inventore eum eveniet iure 33 perferendis
                                architecto quo suscipit culpa nam explicabo quasi. Sed autem beatae ut consequatur culpa
                                aut facilis sunt ut error sunt qui iure soluta.
                            </p>
                            <button>
                                <span>Make Appoinment</span>
                                <img class="img-fluid" src="assets/icon/right-arrow.svg" alt="">
                            </button>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <img class="img-fluid sliderImg" src="assets/img/banner-1.png" alt="">
                        <div class="sliderContent">
                            <h1>We practice for the results and success you need</h1>
                            <p>Lorem ipsum dolor sit amet. Sed veniam inventore eum eveniet iure 33 perferendis
                                architecto quo suscipit culpa nam explicabo quasi. Sed autem beatae ut consequatur culpa
                                aut facilis sunt ut error sunt qui iure soluta.
                            </p>
                            <button>
                                <span>Make Appoinment</span>
                                <img class="img-fluid" src="assets/icon/right-arrow.svg" alt="">
                            </button>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <img class="img-fluid sliderImg" src="assets/img/banner-1.png" alt="">
                        <div class="sliderContent">
                            <h1>We practice for the results and success you need</h1>
                            <p>Lorem ipsum dolor sit amet. Sed veniam inventore eum eveniet iure 33 perferendis
                                architecto quo suscipit culpa nam explicabo quasi. Sed autem beatae ut consequatur culpa
                                aut facilis sunt ut error sunt qui iure soluta.
                            </p>
                            <button>
                                <span>Make Appoinment</span>
                                <img class="img-fluid" src="assets/icon/right-arrow.svg" alt="">
                            </button>
                        </div>
                    </ng-template>
                </ng-container>

                <ng-container *ngFor="let slide of apiData">
                    <ng-template class="slide" carouselSlide [id]="slide.id">
                        <img [src]="slide.url" [alt]="slide.id" [title]="slide.id">
                    </ng-template>
                </ng-container>
            </owl-carousel-o> -->
        </div>
    </ng-container>
</div>