<div class="container pb-4">
  <div class="row">
    <div *ngFor="let law of lawList" class="col-xl-3 col-md-4 col-sm-12 p-3" (click)="lawDescription(law)">
      <div class="law-container">
        <div class="law-spacer"></div>
        <div class="law-text">
          <div class="title">{{ law?.header }}</div>
          <div class="subtitle">{{ law?.subtitle }}</div>
          <div class="description" [innerHTML]="law?.description"></div>
        </div>
      </div>
    </div>
  </div>
</div>
