<div class="container-fluid container-md changePaymentTable">
  <div class="row mainBody p-5">
    <h2 class="text-center">Change Payment Plan</h2>
    <div class="container mt-4 mt-sm-5">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mt-3 mt-lg-0" *ngFor="let plan of paymentPlans" (click)="selected_plan_id = plan?.id">
          <div
            class="p-3 changePaymentCard 
            {{current_plan_id == plan?.id ? 'activeCard' : selected_plan_id == plan?.id ? 'selectedCard' : 'basicCard'}}">
            <h3>{{plan?.name}}</h3>
            <ul>
              <li>Balance: {{plan?.balance}} BDT</li>
              <li>Duration: {{plan?.duration}} {{plan?.duration_type}}</li>
              <li>Note: {{plan?.note}}</li>
            </ul>
            <button>Select</button>
          </div>
        </div>
      </div>
      <button class="text-white submitBtn" (click)="setPaymentPlan()">Submit</button>
    </div>
  </div>
</div>
