<div class="container changePaymentTable">
    <div class="row mainBody p-5">
        <h2 class="text-center">Change Payment Plan</h2>
        <div class="container mt-5">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                <div class="col">
                    <div class="changePaymentCard p-3">
                        <h3>1 Month Subscription</h3>
                        <ul>
                            <li>Lorem ipsum dolor sit.</li>
                            <li>Lorem ipsum dolor sit.</li>
                            <li>Lorem ipsum dolor sit.</li>
                            <li>Lorem ipsum dolor sit.</li>
                            <li>Lorem ipsum dolor sit.</li>
                        </ul>
                        <button>Select</button>
                    </div>
                </div>
                <div class="col">
                    <div class="changePaymentCard p-3">
                        <h3>1 Month Subscription</h3>
                        <ul>
                            <li>Lorem ipsum dolor sit.</li>
                            <li>Lorem ipsum dolor sit.</li>
                            <li>Lorem ipsum dolor sit.</li>
                            <li>Lorem ipsum dolor sit.</li>
                            <li>Lorem ipsum dolor sit.</li>
                        </ul>
                        <button>Select</button>
                    </div>
                </div>
                <div class="col">
                    <div class="changePaymentCard p-3">
                        <h3>1 Month Subscription</h3>
                        <ul>
                            <li>Lorem ipsum dolor sit.</li>
                            <li>Lorem ipsum dolor sit.</li>
                            <li>Lorem ipsum dolor sit.</li>
                            <li>Lorem ipsum dolor sit.</li>
                            <li>Lorem ipsum dolor sit.</li>
                        </ul>
                        <button>Select</button>
                    </div>
                </div>
                <div class="col">
                    <div class="changePaymentCard p-3">
                        <h3>1 Month Subscription</h3>
                        <ul>
                            <li>Lorem ipsum dolor sit.</li>
                            <li>Lorem ipsum dolor sit.</li>
                            <li>Lorem ipsum dolor sit.</li>
                            <li>Lorem ipsum dolor sit.</li>
                            <li>Lorem ipsum dolor sit.</li>
                        </ul>
                        <button>Select</button>
                    </div>
                </div>
            </div>
            <button class="text-white submitBtn">Submit</button>
        </div>
    </div>
</div>