<div class="container pb-4">
  <div class="row">
    <div class="col-12 law-list-search">
      <div class="input-group">
        <input type="search" id="form1" class="form-control" placeholder="Search" />
        <button type="button" class="btn btn-primary">
          <fa-icon icon="search"></fa-icon>
        </button>
      </div>
    </div>
    <div class="col-12 law-list-accordion">
      <div class="accordion" id="accordionExample">
        <!-- <ng-container *ngFor="let act of actList; let i=index;"> -->
        <div class="accordion-item">
          <h2 class="accordion-header" [id]="'heading'+0">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#body0"
              aria-expanded="true" aria-controls="body0">
              <span>{{actList[0].title}}</span>
              <span>
                <!-- <i class="fa fa-calendar"></i> -->
                <fa-icon icon="calendar"></fa-icon>
                {{actList[2].date}}
              </span>
            </button>
          </h2>
          <div [id]="'body'+0" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body" [innerHTML]="actList[0].description">
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" [id]="'heading'+1">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#body1"
              aria-expanded="true" aria-controls="body1">
              <span>{{actList[1].title}}</span>
              <span>
                <!-- <i class="fa fa-calendar"></i> -->
                <fa-icon icon="calendar"></fa-icon>
                {{actList[1].date}}
              </span>
            </button>
          </h2>
          <div [id]="'body'+1" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body" [innerHTML]="actList[1].description">
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" [id]="'heading'+2">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#body2"
              aria-expanded="true" aria-controls="body2">
              <span>{{actList[2].title}}</span>
              <span>
                <!-- <i class="fa fa-calendar"></i> -->
                <fa-icon icon="calendar"></fa-icon>
                {{actList[2].date}}
              </span>
            </button>
          </h2>
          <div [id]="'body'+2" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body" [innerHTML]="actList[2].description">
            </div>
          </div>
        </div>
        <!-- </ng-container> -->
      </div>
    </div>
    <div class="col-12 law-list-pagination">
      <nav aria-label="Page navigation example" class="holder">
        <ul class="pagination">
          <li class="page-item"><a class="page-link">Previous</a></li>
          <li class="page-item"><a class="page-link active">1</a></li>
          <li class="page-item"><a class="page-link">2</a></li>
          <li class="page-item"><a class="page-link">3</a></li>
          <li class="page-item"><a class="page-link">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
