<div class="container page-container">
  <div class="row">
    <!-- <div class="col-3">
      <app-navs [items]="majorList" [(key)]="law_search" (search)="search('law')"></app-navs>
    </div> -->
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <app-search-box [(key)]="text_search" (search)="search('text')"></app-search-box>
        </div>
        <div class="col-12 pb-3 law-list-accordion">
          <div class="q-a-text">
            <div class="q-a-btn">
              Q/A
            </div>
          </div>
          <ngb-accordion #lawListAcc="ngbAccordion" [closeOthers]="true">
            <ng-container *ngFor="let act of actList; let i=index;">
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <div class="container-fluid p-0 question">
                    <div class="d-flex flex-row justify-content-start align-items-start">
                      <div class="q-a-header">Question {{i+1}}: </div>
                      <div class="q-a-content">{{act.question}}</div>
                    </div>
                  </div>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="container-fluid p-0 answer">
                    <div class="d-flex flex-row justify-content-start align-items-start">
                      <div class="q-a-header">Answer: </div>
                      <div class="q-a-content" [innerHTML]="act.answer">
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ng-container>
          </ngb-accordion>
        </div>
        <div class="col-12 law-list-pagination">
          <!-- <app-pagination [total]="250" [page]="12" [size]="10" [(page)]="page"></app-pagination> -->
        </div>
      </div>
    </div>
  </div>
</div>
