<div class="container pb-4">
  <div class="row">
    <div class="col-12 law-list-search">
      <div class="input-group">
        <input type="search" id="form1" class="form-control" placeholder="Search" />
        <button type="button" class="btn btn-primary">
          <fa-icon icon="search"></fa-icon>
        </button>
      </div>
    </div>
    <div class="col-12 pb-3 law-list-accordion">
      <ngb-accordion #lawListAcc="ngbAccordion" [closeOthers]="true">
        <ng-container *ngFor="let act of actList; let i=index;">
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <span>{{act.title}}</span>
              <span>
                <fa-icon icon="calendar"></fa-icon>
                {{act.date}}
              </span>
            </ng-template>
            <ng-template ngbPanelContent>
              <div [innerHTML]="act.description">
              </div>
            </ng-template>
          </ngb-panel>
        </ng-container>
      </ngb-accordion>
    </div>
    <div class="col-12 law-list-pagination">
      <nav aria-label="Page navigation example" class="holder">
        <ul class="pagination">
          <li class="page-item"><a class="page-link">Previous</a></li>
          <li class="page-item"><a class="page-link active">1</a></li>
          <li class="page-item"><a class="page-link">2</a></li>
          <li class="page-item"><a class="page-link">3</a></li>
          <li class="page-item"><a class="page-link">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
