<div class="container appointmentsSummary mb-3">
  <div class="row">
    <div class="col-12">
      <div class="packageCard">
        <h2 class="text-center">Your subscription Package details</h2>
        <div class="packageDetails">
          <p><strong>Current Plan : </strong> 1 Month Subscription</p>
          <p><strong>Date of Payment : </strong> 1 May 2023</p>
          <p><strong>Package Parchase Date : </strong> 1 May 2023</p>
          <p><strong>Package Expire Date : </strong> 1 May 2023</p>
          <p><strong>Your Balance : </strong> 10,000 BDT</p>
        </div>
      </div>
      <div class="d-flex justify-content-center gap-5">
        <button class="text-white">
          Change Current Plan
        </button>
        <button class="text-white">
          Payment History
        </button>
        <button class="text-white">
          Make Payment
        </button>
      </div>
    </div>
  </div>
</div>
