<div class="container appointmentsSummary mb-3">
  <div class="row">
    <div class="col-12">
      <div class="packageCard">
        <h2 class="text-center">Your subscription Package details</h2>
        <div class="packageDetails">
          <p><strong>Current Plan : </strong>{{package?.current_payment_plan}}</p>
          <p><strong>Payment Method : </strong>{{package?.last_payment_history?.payment_method}}</p>
          <!-- <p><strong>Package Parchase Date : </strong> 1 May 2023</p> -->
          <p><strong>Package Expire Date : </strong>{{package?.package_expiry_date | date: 'd MMMM y'}}</p>
          <p><strong>Current Due : </strong>{{package?.current_due}} BDT</p>
        </div>
      </div>
      <div class="d-block d-sm-flex justify-content-center gap-5">
        <button class="text-white" routerLink="/lawyer/change-plan">
          Change Current Plan
        </button>
        <button class="text-white" routerLink="/lawyer/payment-history">
          Payment History
        </button>
        <button class="text-white" routerLink="/lawyer/make-payment">
          Make Payment
        </button>
      </div>
    </div>
  </div>
</div>
